.slider {
    width: 150px;
    height: 270px;
    border: 1px solid black;
    background-color: white;
    opacity: 0.5;
    text-align: center;
    border-radius: 10px;
    transition-duration: 1s;
}

.slider:hover {
    opacity: 0.8;
}

.city__name {
    font-size: 30px;
    margin: 10px;
}

.temperature__today {
    margin: 10px;
}

.weather__description {
    margin: 10px;
}

.weather__icon {
    margin: 10px;
}